._06_BOXE_19{
  margin-top: 2.375rem;
  padding: 16px 16px 24px 16px;
  background-color: $seg_mat_cor1;

  &:first-child {
    margin-top: 0;
  }

  &._mat_su_tec {
    background-color: $seg_mat_cor1;
  }

  &._cie_hu_su_tec {
    background-color: $seg_nat_cor1;
  }

  &._lin_su_tec {
    background-color: $seg_lin_cor1;
  }

  &._cie_hu_so_api {
    background-color: $seg_mat_cor1;
  }

  &.artes {
    background-color: #C8D300 !important;
  }
  &.biologia {
    background-color: #F7A941 !important;
  }
  &.filosofia {
    background-color: #8CCAAE !important;
  }
  &.fisica {
    background-color: #F7A941 !important;
  }
  &.geografia {
    background-color: #8CCAAE !important;
  }
  &.historia {
    background-color: #8CCAAE !important;
  }
  &.lingua_inglesa {
    background-color: #C8D300 !important;
  }
  &.lingua_portuguesa {
    background-color: #C8D300 !important;
  }
  &.matematica {
    background-color: #F1CB40 !important;
  }
  &.producao_de_texto {
    background-color: #C8D300 !important;
  }
  &.quimica {
    background-color: #F7A941 !important;
  }
  &.sociologia {
    background-color: #8CCAAE !important;
  }
}