.css_07_secao_texto1_font_alt {
  display: block;
  font-family: montserrat;
  font-weight: 400;
  font-size: 15.4px;
  letter-spacing: 0.01em;
  line-height: 1.35em;
  color: #000;
  margin: 16px 0px 16px 40px;
  padding: 0 68px;
}