.css_03_exercicio_citado_titulo {
  text-align: center;
  font-family: $font-theSerif-hp6;
  font-size: 20px;
  font-variant: lining-nums;
  margin: 24px 0px 16px 80px;
  padding: 0 68px;
  color: #000;
  display: block;
}


