.css_03_exercicio_texto_font_alt {
  display: block;
  font-family: montserrat;
  font-size: 15.4px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.3em;
  margin: 16px 0px 16px 40px;
  padding: 0 68px;
  color: #000;
}