.css_03_item_resolvido{
    display: block;
    font-family: $font-proximaNova-bold;
    font-size: 18px;
    color: #707070;
    float: left;
    margin: 0px 8px 0px 0px;
    padding: 0 0 0 68px;
  }