.css_07_secao_questão_resolvida {
  // width: 740px;
  height: 33px;
  font-size: 20px;
  font-family: $fonteNova;
  color: #FFF;
  gap: 8px;
  background: transparent linear-gradient(90deg, #45973D 0%, #306E2B 100%) 0% 0% no-repeat padding-box;
  border: 3px solid #45973D;
  display: flex;
  align-items: center;
  word-break: break-word;
  padding-left: 36px;
  position: relative;
  margin: 40px 0px 16px 0px;

  .title_questão_resolvida {
    margin-top: 6px;
  }

  &:before {
    content: '';
    background-image: url('img/aplica/css_07_secao_questão_resolvida_artes.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 100%;
    display: block;
    position: absolute;
    left: -5px;

  }

  &.artes {
    &:before {
      content: '';
      background-image: url('img/aplica/css_07_secao_questão_resolvida_artes.png') !important;
    }

    border: 3px solid #3F1F71;
    background: linear-gradient(90deg, #64428C 0%, #3F1F71 100%) 0% 0% no-repeat padding-box !important;

  }

  &.biologia {
    &:before {
      content: '';
      background-image: url('img/aplica/css_07_secao_questão_resolvida_biologia.png') !important;
    }

    background: transparent linear-gradient(-90deg, #45973D 0%, #306E2B 100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #45973D !important;
  }

  &.filosofia {
    &:before {
      background-image: url('img/aplica/css_07_secao_questão_resolvida_filosofia.png') !important;
    }

    background: linear-gradient(-90deg, #3A4C74 0%, #536DA7 100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #536DA7;
  }

  &.fisica {
    &:before {
      background-image: url('img/aplica/css_07_secao_questão_resolvida_fisica.png') !important;
    }

    background: linear-gradient(-90deg, #00666D 0%, #00909B 100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #00666D;
  }

  &.geografia {
    &:before {
      background-image: url('img/aplica/css_07_secao_questão_resolvida_geografia.png') !important;
    }

    background: linear-gradient(-90deg, #9E2705 0%, #D85509 100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #9E2705;
  }

  &.historia {
    &:before {
      background-image: url('img/aplica/css_07_secao_questão_resolvida_historia.png') !important;
    }

    background: linear-gradient(90deg, #951B81 0%, #6A0F5A 100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #6A0F5A;
  }

  &.lingua_inglesa {
    &:before {
      background-image: url('img/aplica/css_07_secao_questão_resolvida_lingua_inglesa.png') !important;
    }

    background: linear-gradient(-90deg, #015F5B 0%, #069891 100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #015F5B;
  }

  &.lingua_portuguesa {
    &:before {
      background-image: url('img/aplica/css_07_secao_questão_resolvida_lingua_portuguesa.png') !important;
    }

    background: linear-gradient(-90deg, #981711 0%, #C51A1B 100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #981711;
  }

  &.matematica {
    &:before {
      background-image: url('img/aplica/css_07_secao_questão_resolvida_matematica.png') !important;
    }

    background: linear-gradient(-90deg, #033878 0%, #1961AC 100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #033878;
  }

  &.producao_de_texto {
    &:before {
      background-image: url('img/aplica/css_07_secao_questão_resolvida_producao_de_texto.png') !important;
    }

    background: linear-gradient(-90deg, #005E7C 0%, #0F83A6 100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #005E7C;
  }

  &.quimica {
    &:before {
      background-image: url('img/aplica/css_07_secao_questão_resolvida_quimica.png') !important;
    }

    background: linear-gradient(-90deg, #850343 0%, #B80071 100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #850343;
  }

  &.sociologia {
    &:before {
      background-image: url('img/aplica/css_07_secao_questão_resolvida_sociologia.png') !important;
    }

    background: linear-gradient(-90deg, #8B1038 0%, #C71553 100%) 0% 0% no-repeat padding-box !important;
    border: 3px solid #8B1038;
  }
}