.css_07_secao_diz_o_filosofo {
    background-color: #EEF7F3;
    min-height: 100px;
    position: relative;
    padding: 16px 16px 16px 16px;
    margin: 68px;
    box-sizing: border-box;
    
    .tag {
        width: auto;
        height: 44px;
        background-color: #536DA7;
        position: absolute;
        left: 0%;
        top: -22px;
        padding: 0 16px;
        color: #fff;
        font-size: 20px;
        line-height: 42px;
        font-family: $font-prelo-extraBold;
    }
}