<div class="css_02_texto_glossario">
    <input type="checkbox" id>
    <label for></label>
    <div class="txt_boxe_collapsed" doc-editable="text">
        Insira o conteúdo do boxe.
    </div>
</div>
<!--  -->
<div class='wrap-collabsible' style="margin-top: 20px;">
    <input id='collapsible-gloss15' class='toggle-mat ' type='checkbox'>
    <label for='collapsible-gloss15' class=' lbl-toggle-mat glossario border-gloss'>
        <div class='flex-icon'>
            <img style="width: 20px;"
                src='https://pmaislivrodigitalprd.blob.core.windows.net/assets/01_em_ac_2023_l1_mat_cap08_abertura/icons8-plus-open_white.png'
                class='icon ion-md-add'>
            <img style="width: 20px;"
                src='https://pmaislivrodigitalprd.blob.core.windows.net/assets/01_em_ac_2023_l1_mat_cap08_abertura/icons8-minus-close_white.png'
                class='icon ion-md-remove'>
        </div>
        <div class='flex-icon'>
            <p class='collapsible-title' style='color: #C09100;'>Glossário</p>
        </div>
    </label>
    <div class='collapsible-content-mat glossario gloss-ci-border'>
        <div class='content-inner'>
            <div class="text-content-area">

                <div class="txt_boxe_collapsed line-box" doc-container="main">
                    Insira o conteúdo do boxe.
                </div>

            </div>

        </div>
    </div>
</div>