<s id="s1"></s>
<s id="s2"></s>

<div class="slider" doc-slideshow="slideshow">
    <div class="slide-content" u="slides">
        <div style="width: 100%; height: 100%;">
            <img doc-image="image" src="bound-image-url" />
            <p doc-editable="caption"><span style="font-size: 0.6em;" doc-editable="author"></span></p>
        </div>
    </div>
</div>

<div class="prevNext">
    <div><a href="#s2"></a><a href="#s2"></a></div>
    <div><a href="#s1"></a><a href="#s1"></a></div>
</div>